#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    quick-tap-ms = <100>;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        copy-combo {
            bindings = <&kp LG(C)>;
            key-positions = <12 23>;
            layers = <0>;
        };

        up-combo {
            bindings = <&kp UP_ARROW>;
            key-positions = <7 17>;
            layers = <0>;
        };

        down-combo {
            bindings = <&kp DOWN>;
            key-positions = <17 28>;
            layers = <0>;
        };

        left-combo {
            bindings = <&kp LEFT>;
            key-positions = <17 16>;
            layers = <0>;
        };

        right-combo {
            bindings = <&kp RIGHT>;
            key-positions = <17 18>;
            layers = <0>;
        };

        vol-up-combo {
            bindings = <&kp C_VOL_UP>;
            key-positions = <6 16>;
            layers = <0>;
        };

        vol-down-combo {
            bindings = <&kp C_VOL_DN>;
            key-positions = <16 27>;
            layers = <0>;
        };

        bright-up-combo {
            bindings = <&kp C_BRIGHTNESS_INC>;
            key-positions = <5 15>;
            layers = <0>;
        };

        bright-down-combo {
            bindings = <&kp C_BRIGHTNESS_DEC>;
            key-positions = <15 26>;
            layers = <0 1 2 6>;
        };

        prev-combo {
            bindings = <&kp C_PREV>;
            key-positions = <5 6>;
            layers = <0>;
        };

        pause-combo {
            bindings = <&kp C_PLAY_PAUSE>;
            key-positions = <6 7>;
            layers = <0>;
        };

        next-combo {
            bindings = <&kp C_NEXT>;
            key-positions = <7 8>;
            layers = <0>;
        };

        mute-combo {
            bindings = <&kp C_MUTE>;
            key-positions = <16 15>;
            layers = <0>;
        };

        paste-combo {
            bindings = <&kp LG(V)>;
            key-positions = <13 24>;
            layers = <0>;
        };

        stt-combo {
            bindings = <&kp LC(LA(LS(V)))>;
            key-positions = <14 25>;
            layers = <0>;
        };

        page_back {
            bindings = <&kp LG(LEFT_BRACKET)>;
            key-positions = <1 2>;
            layers = <0>;
        };

        page_next {
            bindings = <&kp LG(RIGHT_BRACKET)>;
            key-positions = <2 3>;
            layers = <0>;
        };

        sleep {
            bindings = <&kp LC(LG(Q))>;
            key-positions = <8 9>;
            layers = <0>;
        };

        colon {
            bindings = <&kp SEMI>;
            key-positions = <8 18>;
            layers = <0>;
        };

        apos {
            bindings = <&kp APOS>;
            key-positions = <9 19>;
            layers = <0>;
        };

        cmd_tab {
            bindings = <&kp LG(TAB)>;
            key-positions = <13 14>;
            layers = <0>;
        };

        esc {
            bindings = <&kp ESC>;
            key-positions = <2 12>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <3 13>;
            layers = <0>;
        };

        oneshot_hyper {
            bindings = <&sl 5>;
            key-positions = <33 34>;
            layers = <0>;
        };

        bt_layer {
            timeout-ms = <100>;
            bindings = <&sl 6>;
            key-positions = <29 30>;
            layers = <0>;
        };

        mst {
            bindings = <&kp LS(LG(T))>;
            key-positions = <12 3>;
            layers = <0>;
        };

        raycast {
            bindings = <&kp F13>;
            key-positions = <4 14>;
            layers = <0>;
        };

        gaming_layer {
            bindings = <&tog 3>;
            key-positions = <31 37>;
            layers = <0 7>;
        };

        test {
            bindings = <&none>;
            key-positions = <0 20 32 37 31 30>;
        };
    };

    behaviors {
        gui_space_tab_morph: gui_space_tab_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "GUI_SPACE_TAB_MORPH";
            bindings = <&kp SPACE>, <&kp TAB>;

            #binding-cells = <0>;
            mods = <(MOD_LGUI)>;
            keep-mods = <(MOD_LGUI)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /*
         * Asergo is the user's primary custom non-QWERTY typing layout.
         * Its name comes from the home-row sequence A S E R G, plus O for "aser go".
         */

        asergo_layer_0 {
            bindings = <
       &kp Q               &kp W           &kp D               &kp T                &kp F                       &kp Y                      &kp U              &kp K                &kp L            &kp MINUS
       &mt LEFT_CONTROL A  &mt LEFT_ALT S  &mt LEFT_COMMAND E  &mt LEFT_SHIFT R     &mt LA(LC(LEFT_SHIFT)) G    &mt RA(RC(RIGHT_SHIFT)) H  &mt RIGHT_SHIFT N  &mt RIGHT_COMMAND I  &mt RIGHT_ALT O  &mt RIGHT_CONTROL P
&mo 8  &kp X               &kp Z           &kp C               &kp V                &kp B                       &kp J                      &kp M              &kp COMMA            &kp DOT          &mt RS(RA(RC(RIGHT_META))) FSLH  &trans
                                           &trans              &mt LEFT_SHIFT BSPC  &lt 1 SPACE                 &lt 2 RET                  &mt RIGHT_ALT TAB  &trans
            >;
        };

        spc_layer_1 {
            bindings = <
        &kp N1           &kp N2    &kp N3    &kp N4     &kp N5                        &kp N6                 &kp N7              &kp N8                &kp N9            &kp N0
        &mt LCTRL GRAVE  &kp LALT  &kp LGUI  &kp LSHFT  &mt LA(LC(LEFT_SHIFT)) F11    &mt RA(RC(RSHIFT)) F1  &mt RIGHT_SHIFT F2  &mt RIGHT_COMMAND F3  &mt RIGHT_ALT F4  &mt RIGHT_CONTROL F5
&trans  &trans           &trans    &kp F3    &trans     &trans                        &kp F6                 &kp F7              &kp F8                &kp F9            &kp F10               &trans
                                   &trans    &trans     &trans                        &trans                 &trans              &trans
            >;
        };

        ret_layer_2 {
            bindings = <
        &kp BSLH                        &kp LS(AMPS)       &kp LS(STAR)     &kp LS(TILDE)        &kp LBKT                                   &kp RBKT                                      &kp N7              &kp N8                &kp N9            &kp MINUS
        &mt LEFT_CONTROL GRAVE          &mt LEFT_ALT EXCL  &mt LEFT_GUI AT  &mt LEFT_SHIFT HASH  &mt LA(LC(LEFT_SHIFT)) LEFT_PARENTHESIS    &mt RA(RC(RIGHT_SHIFT)) KP_RIGHT_PARENTHESIS  &mt RIGHT_SHIFT N1  &mt RIGHT_COMMAND N2  &mt RIGHT_ALT N3  &mt RIGHT_CONTROL N0
&trans  &mt LS(LA(LC(LEFT_META))) PIPE  &kp LS(DLLR)       &kp LS(PRCNT)    &kp LS(CARET)        &kp LS(LBRC)                               &kp LS(RBRC)                                  &kp N4              &kp N5                &kp N6            &kp EQUAL             &trans
                                                           &trans           &trans               &trans                                     &trans                                        &trans              &trans
            >;
        };

        gaming_layer_3 {
            bindings = <
       &kp TAB           &kp N1  &kp N2  &kp N3  &kp N4       &kp Y    &kp U    &kp K      &kp L    &kp MINUS
       &kp LEFT_CONTROL  &kp A   &kp W   &kp D   &kp R        &kp H    &kp N    &kp I      &kp O    &kp P
&mo 8  &kp LSHFT         &kp Q   &kp S   &kp E   &kp F        &kp J    &kp M    &kp COMMA  &kp DOT  &kp FSLH   &trans
                                 &trans  &mo 4   &kp SPACE    &kp RET  &kp TAB  &trans
            >;
        };

        gaming_plus_layer_4 {
            bindings = <
        &to 0   &kp GRAVE  &kp ESC  &kp F3  &kp T     &trans  &trans  &trans  &trans  &trans
        &trans  &trans     &trans   &trans  &kp G     &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp Z      &kp X    &kp C   &kp V     &trans  &trans  &trans  &trans  &trans  &trans
                           &trans   &trans  &trans    &trans  &trans  &trans
            >;
        };

        hyper_oneshot_layer_5 {
            bindings = <
        &kp LS(LA(LC(LG(Q))))  &kp LS(LA(LC(LG(W))))  &kp LS(LA(LC(LG(D))))  &kp LS(LA(LC(LG(T))))     &kp LS(LA(LC(LG(F))))        &kp LS(LA(LC(LG(Y))))    &kp LS(LA(LC(LG(U))))    &kp LS(LA(LC(LG(K))))      &kp LS(LA(LC(LG(L))))    &kp LS(LA(LC(LG(MINUS))))
        &kp LS(LA(LC(LG(A))))  &kp LS(LA(LC(LG(S))))  &kp LS(LA(LC(LG(E))))  &kp LS(LA(LC(LG(R))))     &kp LS(LA(LC(LG(G))))        &kp LS(LA(LC(LG(H))))    &kp LS(LA(LC(LG(N))))    &kp LS(LA(LC(LG(I))))      &kp LS(LA(LC(LG(O))))    &kp LS(LA(LC(LG(P))))
&trans  &kp LS(LA(LC(LG(X))))  &kp LS(LA(LC(LG(Z))))  &kp LS(LA(LC(LG(C))))  &kp LS(LA(LC(LG(V))))     &kp LS(LA(LC(LG(B))))        &kp LS(LA(LC(LG(J))))    &kp LS(LA(LC(LG(M))))    &kp LS(LA(LC(LG(COMMA))))  &kp LS(LA(LC(LG(DOT))))  &kp LS(LA(LC(LG(FSLH))))   &trans
                                                      &trans                 &kp LS(LA(LC(LG(BSPC))))  &kp LS(LA(LC(LG(SPACE))))    &kp LS(LA(LC(LG(RET))))  &kp LS(LA(LC(LG(TAB))))  &trans
            >;
        };

        bt_layer_6 {
            label = "BT";
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3  &bt BT_SEL 4
        &trans  &trans  &trans  &trans  &trans    &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &out OUT_BLE  &out OUT_USB
&trans  &trans  &trans  &trans  &trans  &trans    &bt BT_PRV     &bt BT_NXT     &bt BT_CLR     &out OUT_TOG  &trans        &trans
                        &trans  &trans  &trans    &trans         &trans         &trans
            >;
        };

        clean_layer_7 {
            bindings = <
       &kp Q  &kp W  &kp D      &kp T     &kp F        &kp Y                      &kp U              &kp K                &kp L            &kp MINUS
       &kp A  &kp S  &kp E      &kp R     &kp G        &mt RA(RC(RIGHT_SHIFT)) H  &mt RIGHT_SHIFT N  &mt RIGHT_COMMAND I  &mt RIGHT_ALT O  &mt RIGHT_CONTROL P
&mo 8  &kp X  &kp Z  &kp C      &kp V     &kp B        &kp J                      &kp M              &kp COMMA            &kp DOT          &kp FSLH             &mt RS(RA(RC(RIGHT_COMMAND))) SEMI
                     &kp ENTER  &kp BSPC  &kp SPACE    &kp RET                    &kp TAB            &trans
            >;
        };

        clean_plus_layer_8 {
            bindings = <
        &kp N1  &kp N2  &kp N3    &kp N4   &kp N5     &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
        &to 0   &trans  &trans    &trans   &kp F16    &trans  &trans  &trans  &trans  &trans
&trans  &to 7   &kp F2  &kp F3    &kp F14  &kp F15    &trans  &trans  &trans  &trans  &trans  &trans
                        &kp LALT  &kp ESC  &kp TAB    &trans  &trans  &trans
            >;
        };
    };
};
